*
{
	margin: 0;
	padding: 0;
}
#wrapper{
	height: 100vh;
	background-image: url(background.png);
	background-position: right;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden; 
}
.Logo
{
	margin-top: 5px;
	width: 70px;
	border-radius: 15%;
	position: absolute;
	left: 100px;
	top: 30px;
}
.navbar{
	height: 80px;
	width: 100%;
}
.navbar ul{
	float: right;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-right: 70px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	text-decoration: none;
	color: black;
	font-size: 15px;
	padding: 6px 13px;
	font-family: arial;
	}
	.navbar ul li a.About
	{
		font-family: 'Roboto', sans-serif;
	}
	.navbar ul li a.active
	{
	color:red;
	border-radius: 2px;
}

.text{
	max-width: 500px;
	margin-top: 100px;
	font-size: 20px;
}
h1{
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	position: relative;
	right: 10px;
	top: 50px;
}


.te p{
	float: right;
	font-size: 20px;
	color: black;
	bottom: 50px;
	right: 20px;
	margin-top: 650px;
}
.log1
{
	margin-bottom: -510px;
	float: right;
	width: 95px;
	position: absolute;
	bottom: 1px;
	right: 90px;
	border-radius: 500px;
}
.log2{
	margin-bottom: -510px;
	float: right;
	width: 100px;
	position: absolute;
	bottom: 2px;
	right: 200px;
	border-radius: 150px;
	
}

#second{
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden; 
}
.two h3
{
	font-size: 20px;
	font-weight: normal;
    position: relative;
	left: 130px;
	line-height: 1.3;
    top: 100px;
}
.two h6
{
	font-size: 16px;
	font-weight: normal;
    position: relative;
	left: 130px;
    top: 130px;
}


.head p{
	font-size: 16px;
	float: right;
	font-weight: normal;
    position: relative;
    margin-top: 100px;
	left: -125px;
    top: -55px;
}
.head h2
{
	font-size: 20px;
	float: right;
	margin-right: 300px;
	margin-top: -50px;
	font-weight: normal;
    position: relative;
	left: 60px;
	line-height: 1.3;
    top: 60px;
}




.networking h1{
	font-size: 20px;
	font-weight: normal;
    position: relative;
	left: 460px;
    top: 200px;
    font-family: arial;
	line-height: 1.3;
}
.networking h2{
	font-size: 14px;
	font-weight: normal;
    position: relative;
	left: 200px;
    top: 200px;
	line-height: 2.0;
}
.l1
{
	margin-bottom: -1050px;
	float: right;
	width: 95px;
	position: absolute;
	bottom: 1px;
	right: 90px;
	border-radius: 500px;
}
.l2{
	margin-bottom: -1050px;
	float: right;
	width: 100px;
	position: absolute;
	bottom: 2px;
	right: 200px;
	border-radius: 150px;
	
}


#third{
	height: 170vh;
	overflow-x: hidden;
	overflow-y: hidden; 

}
.lo
{   
    margin-top: -235px;
	width: 350px;
	position: absolute;
	right: 250px;
	border-radius: 10%;
}
.next h2{
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	text-align: left;
	margin-left: 125px;
	margin-top: 100px;
}
.next p{
	margin-left: 125px;

}
.ban{
	height: 170px;
	width: 900px;
	font-family: 'Roboto',sans-serif;
	margin: 300px auto;
	position: relative;
	background: #ff6666;
	left: -50px;
	border-radius: 9px 9px 9px 9px;
}
.lo3{
	
	width: 70px;
	position: absolute;
	right: 800px;
	border-radius: 65%;
	margin-top: 30px;
}
.ban h3{

	left: 110px;
	
	top: 50px;
	position: relative;
	font-size: 13px;
}
.ban p{
	font-size: 15px;
	font-weight: normal;
    position: relative;
	left: 425px;
	line-height: 1.3;
    top: -5px;
}
.ba{
	height: 30px;
	width: 250px;
	margin: 200px auto;
	position: relative;
	background: #fff;
	left: -100px;
	border-radius: 20px 20px 20px 20px;
top: -250px;
}
.ba h1{
	left: -75px;
	top: 10px;
	position: relative;
	font-size: 11px;
	font-family: sans-serif;
}
.ba h3{
	left: 45px;
	top: -100px;
	position: relative;
	font-family: 'Roboto' ,sans-serif;
	font-size: 17px;
	font-weight: normal;
}
#cornr{
  border-radius: 25px;
  border: 2px solid #C0C0C0;
  padding: 20px; 
  width: 250px;
  height: 1px; 
  overflow-x: hidden;
  overflow-y: hidden; 

}
.are{
	
	width: 40px;
	position: absolute;
	float: left;
	right: -100px;
	border-radius: 50%;
	margin-top: -61px;
}
.footer {
      position: fixed;
      height: 70px;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #000080;
      color: white;
      text-align: center;
      word-spacing: 25px;

}
.footer a{
	font-size: 25px;
	color: white;
	margin-right: 100px;
}
.lg{ 
    margin-left: -800px;
	width: 40px;
	border-radius: 15%;
	right: 90px;
	top: 2700px;
	margin-bottom: 20px;
}
.ap{
	margin-right: 65px;
	border-radius: 80%;
	left:100px;
	right: 500px;
	width: 25px;
	float: right;
	top: 2900px;
	padding-bottom: 30px;
}
.pl{
	margin-right: 200px;
	border-radius: 55%;
	right: 250px;
	width: 25px;
	float: right;
	top: 2800px;

}
@media screen and (max-width: 500px) {
		#wrapper{
		background-color: pink;
	}
	.Logo
	{
		margin-top: 5px;
		width: 70px;
		border-radius: 15%;
		position: absolute;
		left: 10px;
		top: 30px;
	}

	.navbar ul{
		text-align: right;
		flex-direction: column;
		column-width: : 1px;
		height: 150px;
		margin-right: 10px;
	}
	.navbar ul li{
		list-style: none;
		margin: 0 1px;
		display: inline-block;
		line-height: 60px;
		padding-right: 0px;

	}
	.text{
		max-width: 500px;
		margin-top: 150px;
		font-size: 15px;
	}
	h1{
		font-size: 45px;
		font-weight: normal;
		text-align: left;
		position: relative;
		right: 0.1px;
		top: 50px;
	}


	.te p{
		float: right;
		font-size: 18px;
		color: black;
		bottom: 50px;
		left: 0px;
		margin-top: 500px;
	}
		.log1
	{
		margin-bottom: -405px;
		float: right;
		width: 95px;
		position: absolute;
		bottom: 1px;
		right: 90px;
		border-radius: 500px;
	}
	.log2{
		margin-bottom: -405px;
		float: right;
		width: 100px;
		position: absolute;
		bottom: 2px;
		right: 200px;
		border-radius: 150px;
		
	}
	 	#second{
		height: 120vh;
		width: 100%;
		overflow-x: hidden;
		overflow-y: hidden; 	
	}
	.two h3
	{
		font-size: 15px;
		font-weight: normal;
	    position: relative;
		left: 0px;
		line-height: 1.3;
	    top: 100px;
	}
	.two h6
	{
		font-size: 16px;
		font-weight: normal;
	    position: relative;
		left: 0px;
	    top: 130px;
	    width: 250px;
	}


	.head p{
		font-size: 16px;
		float: right;
		font-weight: normal;
	    position: relative;
	    margin-top: 80px;
		left: -.2px;
		width: 100px;
	    top: -55px;
	    
	}
	.head h2
	{
		font-size: 20px;
		float: right;
		margin-right: 300px;
		margin-top: -120px;
		font-weight: normal;
	    position: relative;
		left: 270px;
		line-height: 1.3;
	    top: 60px;
	}




	.networking h1{
		font-size: 20px;
		font-weight: normal;
	    position: relative;
		left: 90px;
	    top: 240px;
	    font-family: arial;
		line-height: 1.3;
	}
	.networking h2{
		font-size: 14px;
		font-weight: normal;
	    position: relative;
		left: 90px;
	    top: 240px;
		line-height: 2.0;
	}
	.l1
	{
		margin-bottom: -1080px;
		float: right;
		width: 95px;
		position: absolute;
		bottom: 1px;
		right: 5px;
		border-radius: 500px;
	}
	.l2{
		margin-bottom: -1080px;
		float: right;
		width: 100px;
		position: absolute;
		bottom: 2px;
		right: 120px;
		border-radius: 150px;
		
	}
		#third{
		height: 170vh;
		overflow-x: hidden;
		overflow-y: hidden; 
	

	}
	.lo
	{   
	    margin-top: -205px;
		width: 150px;
		position: absolute;
		right: -50px;
		border-radius: 10%;
	}
	.next h2{
		font-family: 'Roboto',sans-serif;
		font-size: 18px;
		left: 100px;
		margin-top: 100px;
		margin-left: 1.5px;
	}
	.next p{
		margin-left: 1.5px;
		font-size: 14px;
		width: 250px;
	}
	.ban{
		height: 130px;
		width: 900px;
		font-family: 'Roboto',sans-serif;
		margin: 50px auto;
		position: relative;
		background: #ff6666;
		left: -50px;
		border-radius: 9px 9px 9px 9px;
	}
	.lo3{
		
		width: 55px;
		position: absolute;
		right: 800px;
		border-radius: 60%;
		margin-top: 30px;
	}
	.ban h3{

		left: 100px;
		
		top: 50px;
		position: relative;
		font-size: 11px;
	}
	.ban p{
		font-size: 11px;
		font-weight: normal;
	    position: relative;
		left: 220px;
		width: 400px;
		line-height: 1.3;
	    top: -5px;
	}
	.ba{
		height: 0px;
		width: 250px;
		margin-bottom: 1500px;
		margin: 200px auto;
		position: relative;
		background: #fff;
		left: -100px;
		border-radius: 20px 20px 20px 20px;
	    top: -150px;
	}
	.ba h1{
		left: -75px;
		top: 10px;
		position: relative;
		font-size: 11px;
		font-family: sans-serif;
	}
	.ba h3{
		left: 95px;
		top: -100px;
		position: relative;
		font-family: 'Roboto' ,sans-serif;
		font-size: 17px;
		font-weight: normal;
	}
	#cornr{
	  border-radius: 25px;
	  border: 2px solid #C0C0C0;
	  margin-left: 100px; 
	  margin-bottom: 5px;
	  width: 200px;
	  height: 1px; 
	  overflow-x: hidden;
	  overflow-y: hidden; 

	}
	.are{
		
		width: 40px;
		position: absolute;
		float: left;
		right: -140px;
		border-radius: 50%;
		margin-top: -65px;
	}
	.footer {
	      position: fixed;
	      height: 70px;
	      left: 0;
	      bottom: 0;
	      width: 500px;
	      background-color: #000080;
	      color: white;
	      text-align: center;
	      word-spacing: 2px;

	}
	.footer a{
		font-size: 20px;
		float: left;
		color: white;
		word-spacing: 2px;
		margin-right: 100px;
	}
	.lg{ 
		width: 28px;
		left: 1px;
		border-radius: 15%;
		right: 190px;
		top: 2900px;
		padding-left: 20px;
		margin-bottom: 2px;
	}
	.ap{
		margin-right: 20px;
		border-radius: 50%;
		left:100px;
		right: -900px;
		width: 25px;
		float: right;
		top: 2900px;
		padding-bottom: 500px;
	}
	.pl{
		margin-right: 100px;
		border-radius: 55%;
		right: -1000px;
		width: 25px;
		float: right;
		margin-bottom: 30px;

	}
}